extends layout

block layout-content
  div#overlay
    div#centeredtext
      span Sending in Progress ...

  div.View.WelcomeView
    h1.Banner Jingle Wallet #{key}

      table.Info

        tbody
              tr
                td #{balance.data.tokenName}
                td #{balance.data.tokenSymbol}
                td #{balance.zrc2balance}

      #status
        if status
            p #{statusText}

      form(class="form-signin" method="POST" action="/transact/send")
            
            #error
              if error
                  p.text-danger #{errorText}

            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Send tokens

            label( for="inputAddress" class="sr-only") Address
            input(type="text" name="address" id="inputAddress" class="form-control" placeholder="Recipient address" required autofocus)

            label(for="inputAmount" class="sr-only") Amount
            input(type="text" name="amount" id="inputAmount" class="form-control" placeholder="100" required)

            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit" id="SendButton") Send